<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.IJobPostingDao">
<insert id="insert">insert into jobPosting 
(posting_num,title,user_id,dateCreated,deadline,occ_main,occ_sub,minCareer,maxCareer,
text1,text2,text3,text4,text5,text6,sal,viewCnt)
values (posting_num_seq.nextval,#{title},#{user_id},sysdate, #{deadline},#{occ_main},#{occ_sub},#{minCareer},#{maxCareer},
#{text1},#{text2},#{text3},#{text4},#{text5},#{text6},#{sal},0)</insert>

<select id="selectOne" resultType="com.human.dto.JobPostingDto"> <!-- 채용공고 상세페이지(Select One) -->
select * from jobPosting where posting_num = #{posting_num}
</select>

<select id="selectCompanyPosting" resultType="com.human.dto.JobPostingDto"> <!-- 기업회원 마이페이지에서 조회되는 공고 목록 -->
select * from JobPosting where user_id=#{user_id} order by posting_num
</select>

<update id="update"> <!-- 채용공고 수정 -->
update jobPosting set 
title =#{title},deadline=#{deadline},occ_main=#{occ_main},occ_sub=#{occ_sub},minCareer=#{minCareer},maxCareer=#{maxCareer},
text1=#{text1},text2=#{text2},text3=#{text3},text4=#{text4},text5=#{text5},
text6=#{text6},sal=#{sal}  where posting_num = #{posting_num} </update>

<update id="viewUpdate"> <!-- Select One 시 해당 채용공고 조회수+1 -->
update jobPosting set viewCnt=viewCnt+1 where posting_num = #{posting_num}
</update>
<update id="updateJobGroupVcnt"> <!-- Select One 시 해당하는 직무 조회수+1 -->
update jobGroup set viewCnt=viewCnt+1 where occ_sub=#{occ_sub}
</update>
<select id="selectJobGroup" resultType="String">
<![CDATA[select occ_sub from (select occ_sub from jobGroup order by viewCnt desc) where rowNum <= 8]]>
</select>
<select id="selectPostingMain" resultType="com.human.dto.JobPostingDto">
<![CDATA[select * from (select * from JobPosting where posting_num > 0 order by deadline asc) where rowNum <= 20]]>
</select>

<delete id="delete"> delete from jobPosting where posting_num = #{posting_num} </delete><!-- 삭제(admin) -->

<select id="selectAll" resultType="com.human.dto.JobPostingDto"> <!-- 채용공고 전체 조회 -->
<![CDATA[ select * from JobPosting where posting_num > 0 order by posting_num desc, dateCreated desc ]]>
 
</select>

<select id="selectMaxPostingNum" resultType="Integer">
select max(posting_num) as posting_num from JobPosting
</select>
</mapper>
