<!-- 1depth 카테고리 -->
<select name="category1" id="category1-1">
	<option>-----</option>
	<option value="강원도" data-target="#category2-1">강원도</option>
	<option value="경기도" data-target="#category2-2">경기도</option>
	<option value="경상남도" data-target="#category2-3">경상남도</option>
	<option value="경상북도" data-target="#category2-4">경상북도</option>
	<option value="광주광역시" data-target="#category2-5">광주광역시</option>
	<option value="대구광역시" data-target="#category2-6">대구광역시</option>
	<option value="대전광역시" data-target="#category2-7">대전광역시</option>
	<option value="부산광역시" data-target="#category2-8">부산광역시</option>
	<option value="서울특별시" data-target="#category2-9">서울특별시</option>
	<option value="세종특별자치시" data-target="#category2-10">세종특별자치시</option>
	<option value="울산광역시" data-target="#category2-11">울산광역시</option>
	<option value="인천광역시" data-target="#category2-12">인천광역시</option>
	<option value="전라남도" data-target="#category2-13">전라남도</option>
	<option value="전라북도" data-target="#category2-14">전라북도</option>
	<option value="제주특별자치도" data-target="#category2-15">제주특별자치도</option>
	<option value="충청남도" data-target="#category2-16">충청남도</option>
	<option value="충청북도" data-target="#category2-17">충청북도</option>
</select>

<!-- 강원도에 종속된 2depth 카테고리 -->
<select name="category2" id="category2-1">
	<option>-----</option>
	<option value="강릉시">강릉시</option>
	<option value="고성군">고성군</option>
	<option value="동해시">동해시</option>
	<option value="삼척시">삼척시</option>
	<option value="속초시">속초시</option>
	<option value="양구군">양구군</option>
	<option value="양양군">양양군</option>
	<option value="영월군">영월군</option>
	<option value="원주시">원주시</option>
	<option value="인제군">인제군</option>
	<option value="정선군">정선군</option>
	<option value="철원군">철원군</option>
	<option value="춘천시">춘천시</option>
	<option value="태백시">태백시</option>
	<option value="평창군">평창군</option>
	<option value="홍천군">홍천군</option>
	<option value="화천군">화천군</option>
	<option value="횡성군">횡성군</option>
</select>

<!-- 경기도 2depth 카테고리 -->
<select name="category2" id="category2-2">
	<option>-----</option>
	<option value="가평군">가평군</option>
	<option value="고양시">고양시</option>
	<option value="과천시">과천시</option>
	<option value="광명시">광명시</option>
	<option value="광주시">광주시</option>
	<option value="구리시">구리시</option>
	<option value="군포시">군포시</option>
	<option value="김포시">김포시</option>
	<option value="남양주시">남양주시</option>
	<option value="동두천시">동두천시</option>
	<option value="부천시">부천시</option>
	<option value="성남시">성남시</option>
	<option value="수원시">수원시</option>
	<option value="시흥시">시흥시</option>
	<option value="안산시">안산시</option>
	<option value="안양시">안양시</option>
	<option value="양주시">양주시</option>
	<option value="양평군">양평군</option>
	<option value="여주시">여주시</option>
	<option value="연천군">연천군</option>
	<option value="오산시">오산시</option>
	<option value="용인시">용인시</option>
	<option value="의왕시">의왕시</option>
	<option value="의정부시">의정부시</option>
	<option value="이천시">이천시</option>
	<option value="파주시">파주시</option>
	<option value="평택시">평택시</option>
	<option value="포천시">포천시</option>
	<option value="하남시">하남시</option>
	<option value="화성시">화성시</option>
</select>

<!-- 경상남도 2depth 카테고리 -->
<select name="category2" id="category2-3">
	<option>-----</option>
	<option value="거제시">거제시</option>
	<option value="거창군">거창군</option>
	<option value="고성군">고성군</option>
	<option value="김해시">김해시</option>
	<option value="남해군">남해군</option>
	<option value="밀양시">밀양시</option>
	<option value="사천시">사천시</option>
	<option value="산청군">산청군</option>
	<option value="양산시">양산시</option>
	<option value="의령군">의령군</option>
	<option value="진주시">진주시</option>
	<option value="창녕군">창녕군</option>
	<option value="창원시">창원시</option>
	<option value="통영시">통영시</option>
	<option value="하동군">하동군</option>
	<option value="함안군">함안군</option>
	<option value="함양군">함양군</option>
	<option value="합천군">합천군</option>
</select>

<!-- 경상북도 2depth 카테고리 -->
<select name="category2" id="category2-4">
	<option>-----</option>
	<option value="경산시">경산시</option>
	<option value="경주시">경주시</option>
	<option value="고령군">고령군</option>
	<option value="구미시">구미시</option>
	<option value="군위군">군위군</option>
	<option value="김천시">김천시</option>
	<option value="문경시">문경시</option>
	<option value="봉화군">봉화군</option>
	<option value="상주시">상주시</option>
	<option value="성주군">성주군</option>
	<option value="안동시">안동시</option>
	<option value="영덕군">영덕군</option>
	<option value="영양군">영양군</option>
	<option value="영주시">영주시</option>
	<option value="영천시">영천시</option>
	<option value="예천군">예천군</option>
	<option value="울릉군">울릉군</option>
	<option value="울진구">울진구</option>
	<option value="의성군">의성군</option>
	<option value="청도군">청도군</option>
	<option value="청송군">청송군</option>
	<option value="칠곡군">칠곡군</option>
	<option value="포항시">포항시</option>
</select>

<!-- 광주광역시 2depth 카테고리 -->
<select name="category2" id="category2-5">
	<option>-----</option>
	<option value="광산구">광산구</option>
	<option value="남구">남구</option>
	<option value="동구">동구</option>
	<option value="북구">북구</option>
	<option value="서구">서구</option>
</select>

<!-- 대구광역시 2depth 카테고리 -->
<select name="category2" id="category2-6">
	<option>-----</option>
	<option value="남구">남구</option>
	<option value="달서구">달서구</option>
	<option value="달성군">달성군</option>
	<option value="동구">동구</option>
	<option value="북구">북구</option>
	<option value="서구">서구</option>
	<option value="수성구">수성구</option>
	<option value="중구">중구</option>
</select>

<!-- 대전광역시 2depth 카테고리 -->
<select name="category2" id="category2-7">
	<option>-----</option>
	<option value="대덕구">대덕구</option>
	<option value="동구">동구</option>
	<option value="서구">서구</option>
	<option value="유성구">유성구</option>
	<option value="중구">중구</option>
</select>

<!-- 부산광역시 2depth 카테고리 -->
<select name="category2" id="category2-8">
	<option>-----</option>
	<option value="강서구">강서구</option>
	<option value="금정구">금정구</option>
	<option value="기장군">기장군</option>
	<option value="남구">남구</option>
	<option value="동구">동구</option>
	<option value="동래구">동래구</option>
	<option value="부산진구">부산진구</option>
	<option value="북구">북구</option>
	<option value="사상구">사상구</option>
	<option value="사하구">사하구</option>
	<option value="서구">서구</option>
	<option value="수영구">수영구</option>
	<option value="연제구">연제구</option>
	<option value="영도구">영도구</option>
	<option value="중구">중구</option>
	<option value="해운대구">해운대구</option>
</select>

<!-- 서울특별시 2depth 카테고리 -->
<select name="category2" id="category2-9">
	<option>-----</option>
	<option value="가평군">가평군</option>
	<option value="고양시">고양시</option>
	<option value="과천시">과천시</option>
	<option value="광명시">광명시</option>
	<option value="광주시">광주시</option>
	<option value="구리시">구리시</option>
	<option value="군포시">군포시</option>
	<option value="김포시">김포시</option>
	<option value="남양주시">남양주시</option>
	<option value="동두천시">동두천시</option>
	<option value="부천시">부천시</option>
	<option value="성남시">성남시</option>
	<option value="수원시">수원시</option>
	<option value="시흥시">시흥시</option>
	<option value="안산시">안산시</option>
	<option value="안양시">안양시</option>
	<option value="양주시">양주시</option>
	<option value="양평군">양평군</option>
	<option value="여주시">여주시</option>
	<option value="연천군">연천군</option>
	<option value="오산시">오산시</option>
	<option value="용인시">용인시</option>
	<option value="의왕시">의왕시</option>
	<option value="의정부시">의정부시</option>
	<option value="이천시">이천시</option>
	<option value="파주시">파주시</option>
	<option value="평택시">평택시</option>
	<option value="포천시">포천시</option>
	<option value="하남시">하남시</option>
	<option value="화성시">화성시</option>
</select>

<!-- 의류 > 여성의류에 종속된 3dpeth 카테고리 -->
<select name="category3" id="category2-1-1">
  <option>----- 선택하세요 -----</option>
  <option value="티셔츠">티셔츠</option>
  <option value="블라우스/셔츠/남방">블라우스/셔츠/남방</option>
  <option value="가디건">가디건</option>
  <option value="니트/스웨터">니트/스웨터</option>
</select>

<!-- 의류 > 남성의류/캐주얼의류에 종속된 3dpeth 카테고리 -->
<select name="category3" id="category2-1-2">
  <option>----- 선택하세요 -----</option>
  <option value="캐주얼셔츠/남방">캐주얼셔츠/남방</option>
  <option value="긴팔티/맨투맨신규코너">긴팔티/맨투맨신규코너</option>
  <option value="청바지인기코너">청바지인기코너</option>
  <option value="캐주얼 바지/팬츠">캐주얼 바지/팬츠</option>
</select>

<!-- 디지털/가전 > TV/냉장고/세탁기에 종속된 3dpeth 카테고리 -->
<select name="category3" id="category2-2-1">
  <option>----- 선택하세요 -----</option>
  <option value="3D TV">3D TV</option>
  <option value="김치냉장고">김치냉장고</option>
  <option value="드럼세탁기">드럼세탁기</option>
</select>

<!-- 디지털/가전 > 노트북/데스크탑에 종속된 3dpeth 카테고리 -->
<select name="category3" id="category2-2-2">
  <option>----- 선택하세요 -----</option>
  <option value="노트북">노트북</option>
  <option value="브랜드PC">브랜드PC</option>
  <option value="조립PC">조립PC</option>
</select>