@charset "UTF-8";


.postingBar input.careerInput{
	width:245px;
}

.postingBar input {
    margin-top: 1px;
    color: rgb(86, 100, 125);
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 12px;
    background-color: rgb(238, 238, 238);
    
}

.postingBar button {
	border-color: #ced4ec;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	height: 40px;
	width: 80px;
	margin-bottom: -10px;
	padding-left: 10px;
}

.postingBar input:focus {
	border-color: #00C471;
	outline: none;
}

.postingBar input[type="submit"] {
	height: 44px;
	width: 500px;
	font-weight: bolder;
	color: white;
	border: none;
	background-color: #18b574;
	cursor: pointer;
    margin-top:20px;
}
.postingBar input[type="submit"]:hover{
    background-color: #5bce9e;
}

input.taginput{
	margin-top: 1px;
    color: rgb(86, 100, 125);
    width: 116px;
    height: 25px;
    font-size: 12px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 12px;
    background-color: rgb(230, 230, 230);
}



.postingBar p {
	font-size: 15px;
}
.postingBar input[type='radio'] {
	vertical-align: middle;
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
}

.postingBar input[type='radio']:checked {
	border: 0.4em solid #00C471;
}

.selectCompanyId {
	font-size: 20px;
	line-height: 2rem;
	padding: 0.2em 0.4em;
}

.userId_value {
	vertical-align: middle;
}
button.tagButton{
	margin-bottom:10px;
    height: 30px;
    width:auto;
    cursor:pointer;

}
button.tagDel{
    font-size:larger;
    font-weight: bolder;
    cursor:pointer;
	width:25px;
	height:25px;
	border-radius:0%;
	border:0px;
	margin-right:20px;
}
button.tagDel:hover{
	background-color:rgba(255, 255, 255, 0);
    transform: rotate( -20deg );
    transition: 0.1s;
    color:rgb(233, 41, 41);
}
div.tagDiv{
	float:left;
	margin-right:0px;
	margin-bottom:15px;
}
div.tagbox{
	width:500px;
}
input.displayTag{
	width:500px;
}
.postingBar .jobPostingtext textarea {
	border: 0px solid #ced4ec;
	display: block;
	width: 500px;
	box-sizing: border-box;
	resize: vertical;
	border-radius:6px;
	outline:none;
	background-color: rgb(238, 238, 238);
	padding:10px;
	height:200px;
}
form>span {
	display:none;
}
select {
	width: inherit;
	height: 25px;
	background: transparent;
	border-color: #ced4ec;
	border-radius: 4px;
	outline: 0 none;
	padding: 0 5px;
	position: relative;
}
option {
	padding: 3px 0;
	font-size: 15px;
}
.css-8jj0t0{
    max-width: 700px;
}