#root {
    overflow-x: hidden;
    height: 100%;
}

body,
body * {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}
.css-1h7ray2 {
height: 100%;
}
.css-101myqk {
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
border-bottom: 1px solid rgb(234, 236, 238);
width: 100%;
height: 4rem;
display: none;
}
.css-t5ene7 {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
min-height: 500px;
}
.css-15currb {
display: flex;
height: 100%;
}
.css-43lg20 {
flex-shrink: 1;
position: relative;
overflow: hidden;
display: flex;
flex-direction: column;
width: 760px;
background-color: rgb(53, 58, 64);
border-top-right-radius: 28px;
border-bottom-right-radius: 28px;
}
.css-43lg20 > :not(picture) {
padding-left: 13%;
padding-right: 32px;
}
.css-mv1azl {
margin: 120px 0px 0px 13%;
}

.css-73r12t {
-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
display: flex;
flex-direction: column;
margin: 60px 0px 0px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 54px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.29;
letter-spacing: -0.3px;
text-align: left;
color: rgb(255, 255, 255);
word-break: keep-all;
}
.css-z3py15 {
    /* 아래 드래그 안되게 하는 것 */
-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; 
margin: 16px 0px 0px;
font-size: 28px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.38;
letter-spacing: -0.3px;
text-align: left;
color: rgb(223, 226, 230);
}
.css-ta7e0e {
-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
margin: auto 0px 120px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
line-height: 1.44;
letter-spacing: normal;
font-weight: 500;
color: rgb(198, 202, 208);
}
.css-1jnome3 {
position: absolute;
left: 0px;
bottom: 0px;
object-fit: cover;
}
.css-si2ple {
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
width: 100%;
}
.css-lxam6v {
display: flex;
-webkit-box-pack: center;
justify-content: center;
text-align: center;
color: rgb(135, 142, 152);
background-color: rgb(255, 255, 255);
border-top: 1px solid rgb(242, 244, 246);
height: 38px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 11px;
font-stretch: normal;
font-style: normal;
line-height: 1.45;
letter-spacing: -0.3px;
font-weight: 500;
}
.css-1lfqtkf {
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 12px;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
font-weight: 500;
color: rgb(135, 142, 152);
text-decoration: none;
margin: 0px 4px;
}
.css-x2c2pi {
box-sizing: border-box;
position: absolute;
left: 100px;
bottom: 80px;
display: flex;
-webkit-box-pack: start;
justify-content: flex-start;
width: 100%;
height: 0px;
}
.css-1g9upls {
box-sizing: inherit;
display: flex;
flex-direction: column-reverse;
align-items: flex-start;
margin: 0px;
padding: 0px;
width: 100%;
height: 0px;
list-style: none;
}
.css-3s4yqf {
width: 400px;
}
.css-1ll6982 {
margin-bottom: 32px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 24px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.42;
letter-spacing: -0.3px;
text-align: center;
}
form {
display: block;
margin-top: 0em;
}
.css-11jvxo8 {
width: 100%;
margin-bottom: 10px;
}
.css-817y00 {
display: flex;
margin-bottom: 4px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 15px;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
font-weight: normal;
color: rgb(33, 37, 42);
word-break: break-all;
cursor: default;
user-select: none;
}
.css-tjh85l {
display: flex;
-webkit-box-align: center;
align-items: center;
padding: 0px 16px;
height: 2.933rem;
/* border: 1px solid rgb(229, 0, 0); */
border-radius: 6px;
background-color: rgb(255, 255, 255);
cursor: text;
}
.css-tjh85l input {
width: 100%;
border: none;
outline: none;
background: none;
}
.css-10xzrfw {
padding: 0px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 15px;
font-stretch: normal;
font-style: normal;
line-height: 1.2;
letter-spacing: normal;
font-weight: normal;
}

.css-10xzrfw input:focus{
    border-color:#00C471;
    outline: none;
}

.css-1jc7oag {
display: flex;
-webkit-box-align: center;
align-items: center;
margin-top: 4px;
opacity: 1;
}
.css-12r39mb {
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
flex-shrink: 0;
}
.css-ce81wa {
position: relative;
top: 1px;
margin-left: 4px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 12px;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
font-weight: normal;
/* color: rgb(229, 0, 0); */
}
.css-7ps6lw {
width: 100%;
margin-bottom: 16px;
}
.css-817y00 {
display: flex;
margin-bottom: 4px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 15px;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
font-weight: normal;
color: rgb(33, 37, 42);
word-break: break-all;
cursor: default;
user-select: none;
}
.css-tjh85l {
display: flex;
-webkit-box-align: center;
align-items: center;
padding: 0px 16px;
height: 2.933rem;
border: 1px solid rgba(153, 153, 153, 0.498);
border-radius: 6px;
background-color: rgb(255, 255, 255);
cursor: text;
}
.css-tjh85l input {
width: 100%;
border: none;
outline: none;
background: none;
}
.css-tjh85l input :focus{
    border-color: rgb(0, 239, 119);
}
.css-1422vj0 {
display: flex;
padding: 0px;
border: 0px;
background: none;
}

.css-2l60pe {
position: relative;
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
cursor: pointer;
border: 1px solid transparent;
border-radius: 6px;
background-color: rgb(19, 174, 148);
color: rgb(255, 255, 255);
padding: 13px 16px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
line-height: 1.44;
letter-spacing: normal;
font-weight: bold;
margin-bottom: 32px;
width: 100%;
}
button {
padding: 0;
}
.css-1fbgxqu {
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
}
.css-1fbgxqu > div {
margin: 0px 16px;
}
.css-hihzyb {
background-color: rgb(223, 226, 230);
width: 1px;
height: 0.9em;
margin: 8px 0px;
}
.css-lxam6v {
display: flex;
-webkit-box-pack: center;
justify-content: center;
text-align: center;
color: rgb(135, 142, 152);
background-color: rgb(255, 255, 255);
border-top: 1px solid rgb(242, 244, 246);
height: 38px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 11px;
font-stretch: normal;
font-style: normal;
line-height: 1.45;
letter-spacing: -0.3px;
font-weight: 500;
}
.css-1lfqtkf {
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 12px;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
font-weight: 500;
color: rgb(135, 142, 152);
text-decoration: none;
margin: 0px 4px;
}
.css-1fbgxqu > a {
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 15px;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
font-weight: bold;
color: rgb(83, 89, 97);
text-decoration: none;
}
.css-1u763tv input {
width: 100%;
border: none;
outline: none;
background: none;
}
.css-1u763tv input:focus{
    border-color: #00C471;
}
.css-fiamws {
display: flex;
-webkit-box-align: center;
align-items: center;
margin-top: 4px;
opacity: 0;
}
.css-2l60pe:disabled {
background-color: rgb(203, 244, 237);
}
.css-2l60pe:disabled {
cursor: not-allowed;
}
.css-2l60pe {
position: relative;
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
cursor: pointer;
border: 1px solid transparent;
border-radius: 6px;
background-color: rgb(0, 204, 170);
color: rgb(255, 255, 255);
padding: 13px 16px;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
line-height: 1.44;
letter-spacing: normal;
font-weight: bold;
margin-bottom: 32px;
width: 100%;
}