
    .regbar{
        margin-left:0px;
        display: flex;
       justify-content: center; 
       align-items: center;
       text-align: center;
       min-height: 90vh;
    }
 /* .regbar{
    margin-left: 450px; 
    width: 400px;
    height: 800px;
 } */
 .regbar h2{
    text-align: center;
 }
 
 li{list-style:none;height: auto;text-align: center;width: 0px;}
    .slide{width:400px; overflow:hidden;text-align: center;font-size: 20px;font-weight: bolder;margin-top: -30px;}
    .slide li{width:calc(100% / 4);height:auto;font-weight: 500;font-size: 18px;}
    .slide ul{width:calc(100% * 4);display:flex;animation:slide 8s infinite; position: relative;right: 40px;}
    @keyframes slide {
      0% {margin-left:0;} /* 0 ~ 10  : 정지 */
      10% {margin-left:0;} /* 10 ~ 25 : 변이 */
      25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
      35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
      50% {margin-left:-200%;}
      60% {margin-left:-200%;}
      75% {margin-left:-300%;}
      85% {margin-left:-300%;}
      100% {margin-left:0;}
    }
    .main h2{
        margin-top: 50px;
        font-weight: 500;
    }
    .reg{
        margin-left: 40px;
        margin-right: 40px;
    }
    .reg input{

        border-color:#ced4ec;
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;
        height: 48px;
        width: 320px;
        padding-left: 15px;
    }
    .reg input:focus{
    border-color:#00C471;
    outline: none;
}
    .reg p{
        font-size: 15px;
        margin: 0px;
        position: relative;top: 20px;
        text-align: left;
        margin-left: 45px;
        margin-bottom: 2px;
    }
    ::placeholder{
    
        color: #ced4ec;
    }
    .reg input[type="submit"]{
        font-size: 15px;
        font-weight: bolder;
        color: white;
        margin-top: 30px;
        background-color: #00C471;
        cursor: pointer;
        
    }
    span a{
        color: blue;
        text-decoration: none;
    }
    span{
        color: gray;
        position: relative;right: 15px;
        text-align: center;
        font-size: 12px;
    }
    h5{
        font-size: 11px;
        color: gray;
        font-weight: normal;
    }
    input[type="checkbox"]{
        width: auto;
        height: 15px;
        position: relative;top: 3px;
    }
    .footer__policy {
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-left: 55px;
    color: #858a8d;
    width: 320px;
    display:block;

}
 